body{
    margin: 0;
    padding: 0;
}

header{
    grid-area: header;
    color: white;
    background-color: black;
    text-align: center;
    letter-spacing: 2px;;
}

h1{
    margin: 5px;
}

menu{
    grid-area: menu;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    margin: 3px;
}

main{
    grid-area: main;
    background-color: aliceblue;
    margin: 3px;
}

footer{
    grid-area: footer;
    background-color: rgb(185, 184, 184) ;
    margin: 0;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    'header header header'
    'menu  main main'
    'footer footer footer';
}
